/*
  violet :
    color: #d400e8;
  vert :
    color: #00ba91;
*/

.container {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 90px;
    padding: 0 100px;
    font-size: 20px;
    justify-content: space-between;
    background-color: transparent;
    position: relative;
}

.logo {
    border-radius: 15px;
}

.listItem {
    display: inline;
    margin-right: 50px;
    margin-left: 20px;
    flex-direction: row;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 0px;

    font-size: 20px;
    font-style: normal;
    /* font-weight: 800; */
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    cursor: pointer;
}

.listItem:hover {
    color: #00ba91;
  }

.listItemSign {
    display: inline;
    margin-right: 60px;
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    background: #9eb5eb;
    border-radius: 15px;

    font-size: 20px;
    font-style: normal;
    /* font-weight: 800; */
    line-height: 22px;
    letter-spacing: 0rem;
    text-align: center;
}

.listItemSign:hover {
    background: transparent;
}

.listItemHelp {
    display: inline;
    margin-right: 60px;
    flex-direction: row;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 10px 22px;

    width: 78px;
    height: 51px;

    background: #888c97;
    border-radius: 15px;

    font-size: 20px;
    font-style: normal;
    /* font-weight: 800; */
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.listItemHelp:hover {
    background: transparent;
}

.hamburger {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 1670px) {
    .container {
        padding: 0px 20px;
    }

    .list {
        display: none;
    }

    .listItem {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        cursor: pointer;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: rgb(0, 0, 0);
    }

    .menu {
        position: fixed;
        height: calc(100% - 90px);
        width: 50vw;
        background-color: rgb(255, 255, 255);
        top: 90px;
        margin: 0;
        padding: 0;
        /* font-weight: bold; */
        color: rgb(0, 0, 0);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        z-index: 999;
        right: 0;
        transition: 1s;
    }

    .menuItem {
        font-size: 20px;
        font-style: normal;
        /* font-weight: 800; */
        line-height: 22px;
        letter-spacing: 0rem;
        text-align: center;
    }

    .menuItemSign {
        padding: 10px 22px;
        background: #9eb5eb;
        border-radius: 15px;

        font-size: 20px;
        font-style: normal;
        /* font-weight: 800; */
        line-height: 22px;
        letter-spacing: 0rem;
        text-align: center;
    }

    .menuItemHelp {
        align-items: center;
        padding: 10px 22px;

        background: #888c97;
        border-radius: 15px;

        font-size: 20px;
        font-style: normal;
        /* font-weight: 800; */
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
    }
}
